extends layout

block content
    h1=title

    table(border='1', width='80%')
        thead
            tr
                th order
                th use date
                th usage
                th detail
                th user
                th income
                th outcome
                th total
                th delete
        tbody
            each finance in finances_list
                tr 
                    td #{finance.order}
                    td #{finance.use_date_formatted}
                    td #{finance.usage} 
                    td #{finance.detail} 
                    td 
                        a(href=finance.user.url)= finance.user.name
                    td #{finance.income} 
                    td #{finance.outcome} 
                    td #{finance.total}
                    td 
                        a(href=finance.url+'/delete') DELETE
