extends layout

block content
  h1 #{title}: #{user.name}

  if user_finances.length

    p #[strong Delete the following books before attempting to delete this author.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Finances

      dl
      each finance in user_finances
        dt 
          a(href=finance.url) #{finance.title}
        dd #{finance.summary}

  else
    p Do you really want to delete this User?

    form(method='POST' action='')
      div.form-group
        input#userid.form-control(type='hidden',name='userid', required='true', value=user._id )

      button.btn.btn-primary(type='submit') Delete